* {
  box-sizing: border-box;
}

html {
  font-size: 16;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #5e767d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

main {
  max-width: 380px;
  min-width: 320px;
  background-color: #242526;
  margin: 0 auto;
  padding: 1.5em;
  border-radius: 0.2em;
}

.heading {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 0.8rem;
}

.heading span i {
  margin-right: 0.5em;
}

.screen {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

input[type='text'] {
  padding: 0.5em;
  flex: 1;
  border-color: transparent;
  background-color: #242526;
  color: #fff;
  font-size: 1.5em;
  text-align: right;
}

input[type='text']:focus {
  outline: none;
  caret-color: transparent;
}

.buttons-container {
  width: 90%;
  padding: 1.5em;
  margin: 0 auto;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.stack-container {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 1em;
}

button {
  padding: 0.5em;
  width: 3.5rem;
  flex: 1;
  border-color: transparent;
  font-weight: 900;
  background-color: #242526;
  border-radius: 50%;
  color: white;
  margin: 0.5em;
}

button:hover {
  background-color: #343536;
}

.divide,
.times,
.minus,
.plus,
.equal,
.clear,
.delete,
.negative {
  color: #23bbe1;
  font-size: 1.5em;
}

.equal {
  color: #fff;
  background-color: #135e70;
}

.equal:hover {
  background-color: #236e81;
}
